<%- include('partials/header') %>


<style>
  #intro {
    background-image: url("https://miro.medium.com/max/11406/0*ZkIxoGuNhbvOqcKO");
    height:100vh;
    background-size: cover;
  }
</style>


  <div id="intro" class="bg-image shadow-2-strong container-fluid">
    <div class="container align-items-center justify-content-center text-center h-100">

      <div class="container">
        <h1 class="display-4" style="color:#E8ECEF">..sssh! no one knows you're here.</h1>

        <div class="card-items">
          <% usersWithSecrets.forEach(function(user){ %>
          <% for(var i=0;i<user.title.length;i++){ %>
          <div <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="color:#FFC000"><%= user.title[i] %></h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text"><%= user.secret[i] %></p>
            </div>
          </div>
          <%  } %>
          <% }) %>
        </div>
        <hr>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
      </div>
    </div>

    <%- include('partials/footer') %>
