body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}
.secret-text{
  background-color: #000;
  color: #fff;
}
.card-items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.card{
  margin: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
